/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  font-family: "Raleway", sans-serif;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CSS FOR LANDING PAGE */

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #d61355;
}

.nav-links {
  color: #fce22a;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

.nav-icon {
  width: 4em;
  height: 4em;
}

header {
  margin: 40px;
  padding: 50px;
  text-align: center;
  font-size: 30px;
}

.container-picture {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  margin: 50px;
}

.container-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item-3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
  position: relative;
  overflow: hidden;
}

.best-seller {
  position: absolute;
  display: inline-block;
  top: 0.2em;
  right: 0.8em;
  max-width: 5em;
  color: #fce22a;
  z-index: 1;
  text-align: center;
}

.best-seller::after {
  position: absolute;
  top: -1.5em;
  right: -6em;
  content: "";
  height: 5em;
  width: 15em;
  transform: rotatez(45deg);
  background-color: #d61355;
  z-index: -1;
}

.prod-tagline {
  text-align: end;
  font-size: 17px;
}

.item-4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.item-5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.item-6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

#cont-review-title {
  font-size: 40px;
  text-align: center;
}

.burger-review {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .burger-review {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.container-review {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-item {
  width: 300px;
  margin: 1rem;
  border-radius: 8px;
  background: white;
  padding-bottom: 2rem;
  transition: all 0.3s ease;
  box-shadow: 0 20px 40px rgba(87, 84, 84, 0.328);
}

.image {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  transition: all 0.5s;
  background-size: cover;
  background-position: center center;
}

.image1 {
  background-image: url(/assets/burger-1.jpg);
}

.image2 {
  background-image: url(/assets/waiter.jpg);
}

.image3 {
  background-image: url(/assets/burger-shop.jpg);
}

.content {
  padding: 1rem;
}

.title {
  text-align: center;
}

.text {
  text-align: center;
}

form {
  background-color: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.survey-title {
  text-align: center;
}

.form-info {
  text-align: left;
  margin-bottom: 25px;
}

.form-info label {
  display: block;
  margin-bottom: 5px;
}

.form-info input,
.form-info textarea {
  border: 1px solid #777;
  border-radius: 2px;
  padding: 10px;
  display: block;
  width: 95%;
}

.form-info input[type="radio"],
.form-info input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
button {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
